<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2" ng-repeat="expense in trip.expenses">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{expense.description}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" ng-show="expense.expenseMovements.length>1">
                            <p><b>Proporciones:</b></p>
                            <ul>
                                <li ng-repeat="expenseMovement in expense.expenseMovements">
                                    <span>{{ (expenseMovement.movement.from) |iif: expenseMovement.movement.from.user.name : expenseMovement.movement.to.user.name }}</span>
                                    <b> ${{expenseMovement.movement.amount}}</b>
                                </li>
                            </ul>
                            <br>
                            <p><b>Total:</b> ${{ expense.paymentMovement.amount }}</p>
                            <p>Usuario que pagó: {{ expense.paymentMovement.from.user.name }}</p>
                            <p>Fecha: {{ expense.paymentMovement.timestamp }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <button class="btn btn-default" id="btn_volver" ng-click="go('/trip')" ng-disabled="editing">
                    Volver
                </button>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<div ng-paginator="" name-space="tripNameSpace"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addTravelerModal" tabindex="-1" role="dialog" aria-labelledby="addTravelerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTravelerModalLabel">Agregar Participante</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="addTravelerForm">

                    <div class="form-group">
                        <label for="travelerSelect" class="col-xs-4 control-label">Participante:</label>
                        <div class="col-xs-6">
                            <select id="travelerSelect" ng-model="selectedTraveler" class="form-control" ng-options="traveler as traveler.name for traveler in users | orderBy:'name'"></select>
                            <!--| notCurrentlyTraveler: trip.travelers-->
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="addTraveler()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteTripModal" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteTripModalLabel">Eliminar Viaje</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar este viaje? Se borrarán todos los gastos y deudas asociados al mismo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="remove()">Confirmar</button>
            </div>
        </div>
    </div>
</div>